<h3 style="font-size: medium;color: aliceblue; text-align: center">Update User Profile</h3>
    <div class="container" style="margin-bottom:0">
        <form [formGroup]="changepasswordForm">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">
                    <div class="form-group" style="color: white;">
                        <label for="password">Current Password</label>
                        <input type="password" formControlName="currentpassword" placeholder="Enter your current password" name="currentpassword" class="form-control" id="currentpassword" required>
                      </div>
                      <div class="form-group" style="color: white;">
                        <label for="password">New Password</label>
                        <input type="password" formControlName="newpassword" placeholder="Enter your new password" name="newpassword" class="form-control" id="newpassword" required>
                      </div>
                      <div class="form-group" style="color: white;">
                        <label for="confirmpassword">Confirm password</label>
                        <input type="password" formControlName="confirmpassword" placeholder="confirmpassword" name="confirmpassword" class="form-control" id="confirmpassword" required>
                      </div> 
                      <button class="btn btn-success" (click)="updateThePassword()" [disabled]="!changepasswordForm.valid">Change My Password</button> 
                </div>
            </div>
        </form>
    </div>
