<div class="container" style="margin-bottom:0">
    <form [formGroup]="comparisonForm" novalidate class="form" (ngSubmit)="onSubmit()">
        <!-- <div class="form-group">
            
        </div> -->
        <div class="form-group">
                <label for="select company or sector" style="color: white;font-weight: bold" >Select the Company/Sector</label>
                <select name="csselect" class="form-control" formControlName="csselect" required>
                   <option>Company</option>
                   <option>Sector</option>
                 </select>
        </div>
        <div class="form-group">
            <label for="company name/sector name" style="color: white;font-weight: bold">Company Name/Sector Name</label>
            <select  class="form-control" id="cnsn" formControlName="cnsn" placeholder="Enter company(or) sector name"
              name="cnsn" >
              <option value=""selected disabled >Select Company</option>
              <option *ngFor="let company of companies"
              [value]="">
            {{company.companyCode}}</option>
            </select>
          </div>
        <div class="form-group">
            <label for="company name/sector name" style="color: white;font-weight: bold">Company Name/Sector Name Compare To</label>
            <select class="form-control" id="ctcnsn" formControlName="ctcnsn" placeholder="Enter company(or) sector name Compare To"
              name="ctcnsn" >
              <option value="" selected disabled >Select Company</option>
            <option *ngFor="let company of companies"
            [value]="">
          {{company.companyCode}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="Select stock exchange" style="color: white;font-weight: bold">Select Stock Exchange</label>
            <select class="form-control" id="selectstockexchange" formControlName="selectstockexchange" name="selectstockexchange">
              <option value="NSE">NSE</option>
              <option value="BSE">BSE</option>
            </select>
        </div>
        <div class="form-group" style="color: white;">
            <label for="name">From Period</label>
            <input type="date" formControlName="fromperiod" placeholder="enter from date" name="fromperiod" class="form-control" id="fromperiod" required>
        </div>
        <div class="form-group" style="color: white;">
            <label for="name">To Period</label>
            <input type="date" formControlName="toperiod" placeholder="enter to date" name="toperiod" class="form-control" id="toperiod" required>
        </div>
        <!-- <a class="btn btn-primary" href="/managecompany" role="button">Add Company</a>&nbsp; -->
        <button type="submit" class="btn btn-success" [disabled]="!comparisonForm.valid">Generate</button>
    </form>
</div>